body{
    padding-left: 100px;
    margin-left: 0px;
    color: black;
}



header{
    background: black;
    position: fixed; left: 0px; right: 0; height: 30px;top:0px;
}

#homes{
    background-color: teal;
    color: white;
    width: 30%;
    padding: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    
    
}

#rapper{
    font-family: Arial, Helvetica, sans-serif;
    color: #777777
}

#menu1{
    position: absolute; top: 6%;right: 50%;bottom: 20px; left: 60%;

}

#menu2{
    position: absolute; top: 6%;right: 50%;bottom: 20px; left: 70%;
}
#menu3{
    position: absolute; top: 6%;right: 50%;bottom: 20px; left: 80%;
}


h2{
    color: teal;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    font-family: Arial, Helvetica, sans-serif
}

footer{
    color: #777777;
    Background-color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed; bottom: 0px;right: 0px;left: 0;height: 20px;
    text-align: center; padding: 20px;

    
}

section{
    margin-left: 0px;
}


